:root {
  --main-color: yellow;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: var(--main-color);
  color: black;
  margin: 0 auto;
}

.main {
  display: flex;
}

.main-head {
  padding: 5px;
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-head__title {
  text-align: center;
  position: relative;
}

.main-head__title::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../assets/snow.svg);
  background-size: cover;
}

.main-head__title::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../assets/sun.svg);
  background-size: cover;
  position: absolute;
  right: 0;
}

.main-result {
  padding: 6px;
  background-image: url(../assets/weather.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: contrast(200%);
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-result-getting {
  display: flex;
}

.main-result-getting__input {
  height: 40px;
  border: none;
  font-size: large;
  border: var(--main-color) solid 1px;
  width: 225px;
}

.main-result-getting__input:focus {
  outline: var(--main-color) solid 2px;
}

.main-result-getting__button {
  background-color: var(--main-color);
  border: none;
  font-size: large;
}

.main-result-getting__button:hover {
  background-color: black;
  color: var(--main-color);
}

.main-result__temp {
  font-size: 42px;
  height: 70px;
  width: 70px;
  background-color: var(--main-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto 15px auto;
}

.main-result__temp>img {
  height: 50px;
}

.main-result__subTitle {
  color: var(--main-color);
}

.main-result__text {
  color: aliceblue;
  text-align: center;
}

.main-result__text>a {
  color: unset;
  text-decoration: none;
  color: var(--main-color);
  border-radius: 15px;
  transition: background 2s ease, color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-result__text>a:hover {
  color: black;
  background-color: var(--main-color);
  transition: background 2s ease, color 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media screen and (max-width: 620px) {
  .main {
    height: 865px;
    flex-direction: column;
    align-items: center;
  }

  .main-head {
    width: 90%;
    height: 50%;
  }

  .main-result {
    height: 50%;
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 430px) {
  .main-head__title {
    font-size: 24px;
    width: 290px;
  }

  .main-result-getting {
    flex-direction: column;
  }

  .main-result-getting__input {
    height: 20px;
    font-size: medium;
    text-align: center;
  }

  .main-result-getting__button {
    font-size: medium;
    text-transform: uppercase;
  }

  .main-result__temp {
    height: 35px;
    width: 35px;
    font-size: 18px;
  }

  .main-result__temp>img {
    height: 30px;
  }

  .main-result__subTitle {
    font-size: 20px;
  }

  .main-result__text {
    font-size: 18px;
  }
}